  .routineBox {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border: 1px solid var(--primary);
      padding: 0.7em;
      transition: 0.5s;
      margin: 1em;
      width: 80%;
      box-sizing: border-box;
      border-radius: 0.4em;
      animation: zoomIn;
      animation-duration: 0.5s;
      animation-timing-function: cubic-bezier(0.375, 0.885, 0.32, 1.275);
      cursor: help;

  }

  .routineBox:hover {
      box-shadow: 0 0 0.3em var(--primary);
  }

  .routineBox h2,
  h3,
  h4 {
      padding: 0.2em;
  }

  .routineBox h4 {
      opacity: 0.7;
  }

  .routineBox h3 i {
      font-size: 0.8em;
      opacity: 0.68;
  }
  .routineBox h3 b {
      opacity: 0.8;
  }
  .routineBox h3 .alertSec {
      color: var(--yellow);
  }

  .routineBox .courseCode{
        position: absolute;
        left: -2.4em;
        transform: rotate(90deg);
        font-size: 0.8em;
        opacity: 0.3;
  }

  .routineBox .lab {
      position: absolute;
      display: flex;
      justify-content: center;
      text-align: center;
      align-items: center;
      width: 1em;
      height: 1em;
      padding: 1em;
      border-radius: 50%;
      background-color: var(--primary);
      top: -1em;
      right: -1em;
      color: var(--background);
      font-size: small;
      font-weight: bold;
      transition: 0.5s;
  }

  .routineBox:hover .lab {
      transform: rotate(360deg);
      box-shadow: 0 0 0.7em var(--primary);
  }


  @media screen and (max-width:500px) {
      .routineBox {
          width: 90%;
      }
  }